.header-area {
    box-shadow: 0px 2px 9px 1px #b6b6b6;
}

.product_desc {
    margin-top: 20px;
}

.product_desc .product_row {
    padding: 5px 0px;
    width: 100%;
    font-size: 14px;
    color: #9c958e;
    border-top: 1px solid #d8d2cc;
}

.product_desc .product_row:before {
    content: "•";
    color: #e28413;
    font-size: 36px;
    line-height: 7px;
    position: relative;
    top: 3px;
}

.product_desc .product_row .product_name {
    line-height: 28px;
    margin-right: 15px;
    padding-left: 25px;
}

.product_desc .product_row:last-of-type {
    border-bottom: 1px solid #d8d2cc;
}

.pro_details p {
    font-size: 15px;
}

ul.pro_dtl_prize {
    padding-top: 10px;
}

.product-quantity {
    display: flex;
    justify-content: space-between;
}

.main_price {
    font-size: 36px;
    color: #242424;
    line-height: 36px;
    font-weight: 700;
}

.price-control {
    background: #fff;
    color: #000;
    border: 1px solid #9c958e;
    padding: 4px 12px;
}

.price-control:hover {
    background: #f0f0f0;
    color: rgb(231 0 0);
    border: 1px solid #9c958e;
}

.price-control i {
    position: relative;
    top: 1px;
}

input.price-number {
    border: 1px solid #9c958e;
    text-align: center;
    width: 50px;
    height: 32px;
    font-weight: bold;
}

.price_block {
    display: inherit;
}

.price_block .options {
    padding-right: 10px;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.pro_dtl_btn li a.buy_now_btn {
    width: 100%;
}

.pro_extra {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.wishlist-control {
    cursor: pointer;
}

.wishlist-control:hover {
    color: red;
}

.fb-share {
    background: #1877F2;
    color: #fff;
    font-size: 12px;
    padding: 0px 5px;
    border-radius: 5px;
    font-weight: 600;
}

ul.product_small_images-bottom {
    position: relative;
    margin: auto;
    padding: 10px 15px;
    max-width: 400px;
}

.tab-content>.tab-pane {
    text-align: center;
}

.discount-label {
    width: 60px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    text-align: center;
}

.discount-label:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(136, 183, 213, 0);
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}

.discount-label:before {
    content: '';
    z-index: 2;
    position: absolute;
    top: 42%;
    right: 100%;
    width: 7px;
    height: 7px;
    opacity: .95;
    background: #ffffff;
    border-radius: 7px;
    -webkit-box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
    box-shadow: inset .5px 0 rgba(0, 0, 0, 0.6);
}

.discount-label span {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
}

.red {
    background-color: #E80707;
}

.product_description_wrap {
    text-align: start;
}

.product_description_wrap p {
    font-size: 14px;
}

ul.feature_list {
    font-size: 14px;
}